<div class="bg-info p-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <div *ngIf="condition; else elseBlock">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="text-decoration-none text-white" href="#">Folders</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ this.folder.folderName }}
              </li>
            </ol>
          </div>
          <ng-template #elseBlock
            ><ol class="breadcrumb">
              <li class="breadcrumb-item active text-white" aria-current="page">
                Folders
              </li>
            </ol></ng-template
          >
        </nav>
      </div>
      <div class="col-auto">
        <button (click)="logOut()" type="button" class="btn btn-danger ms-auto">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
